html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
    border: 1px solid white;
    background-color: #202020;
    color:white;
    border-radius:3px;
    padding: 5px;
}

button:hover {
    background-color: darkslategray;
}

select {
    background-color: #303030;
    color:white;
}

spectrometer-node {
    width: 100%;
    height: 100%;
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: 1fr min-content 1fr;
   grid-template-areas: 
   "picker picker picker capture capture capture"
   "controls controls controls controls controls controls"
   "compare compare captured captured captured saved";
   background: rgb(25,25,25);
}

/* spectrometer-node > div {
   
} */


#pickerDiv {
    grid-area: picker;
    max-height:500px;
}

#pickerDiv img {
    /* width: 100%;
    height: 100%; */
}

#captureDiv {
    /* background: blue; */
    grid-area: capture;
    position: relative;
    border-left:1px solid gray;
    max-height:500px;
}

#menu {
    background: rgb(10,10,10);
    grid-area: controls;
    position: relative;
    transition: 0.5s;
    padding: 15px 25px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}

#compare {
    color: white;
    grid-area: compare;
    padding: 25px;
}

#captured {
    color: white;
    grid-area: captured;
    padding: 25px;
    border-left:3px dotted gray;
}

#saved {
    color: white;
    grid-area: saved;
    padding: 25px;
    border-left:2px double gray;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.0);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.25);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1);
  }
