


<!--

<ImageOrVid><Result watched image>
<Menu>
<Result Spectrogram> <Compared Spectrogram> (can overlay)
<Res2>               <Comp2>
    ...                 ...

todo:

Concise menu, finish file loading
Result list + comparison
Result saving/loading files
mediarecorder on canvas result too for vod
webworkers probably good idea for processing image on secondary canvases

frame buffering stuff cuz graphs


-->

        <div id="pickerDiv" style="position: relative; display:flex; align-items:center;"> <!-- We want the source canvas to maintain the source image/video's aspect ratio so it looks correct, the capture can be stretched otherwise-->
            <img src="" style="position: absolute; z-index:1;" ></img>
            <video src="" style="position: absolute; display:none; z-index:2;" ></video>
            <canvas id="picker" style="position: absolute; z-index:3;" ></canvas>
        </div>
        <div id="captureDiv"><canvas id="capture" style="z-index:11; height:100%; width:100%;" height="100%" width="100%"></canvas></div>
        
        <button id="toggleMenu" style="display:none;">Toggle Menu</button>

        <div id="menu">
            <button id="snip">Analyze</button>
            <div id="videomenu" style="display:none;">
                <button id="record">Record</button>
            </div>
            <button id="webcam">Use Webcam</button>
            <button id="image">Use Image</button>
            <button id="fileinput">Upload File</button>
            <button id="useurl">Use URL</button>
            <div id="imgmenu">
                <span style="color:white;">Preloaded Images:</span>
                <select id="imgselect"></select>
            </div>
            <div id="urlmenu" style="display:none;">
                <input type="url" id="urlinput" placeholder="Image or Video File URL"></input>
                <span style="color:white;">File type:</span>
                <select id="urlselect">
                    <option value="img" selected>Image</option>
                    <option value="video">Video</option>
                </select>
                <button id="seturl">Set URL</button>
            </div>
            <br>
            <button style="float:right;" id="help">Help</button>
            <div id="instructions" style="color:white; display:none;">
                Instructions: Click to draw a rectangle around the portion of the image or video you want to snip, 
                then click Analyze to create a downloadable spectrogram you can compare with other results!
            </div>
            <br>
        <hr>
            </div>
        <div  id="compare" style="overflow-y:scroll;">
            Compare
        </div>
        <div id="captured" style="overflow-y:scroll;">
            Captured
        </div>
        <div id="saved" style="overflow-y:scroll;">
            Saved
        </div>