


<!--

<Menu>
<ImageOrVid><Result watched image>
<Result Spectrogram> <Compared Spectrogram> (can overlay)
<Res2>               <Comp2>
    ...                 ...

todo:

Concise menu, finish file loading
Result list + comparison
Result saving/loading files
mediarecorder on canvas result too for vod
webworkers probably good idea for processing image on secondary canvases

frame buffering stuff cuz graphs


-->

        <div>
            <canvas id="picker" style="position:absolute; z-index:3; width:49.99%; height:25%;" ></canvas>
            <img src="" style="position:absolute; z-index:1; width:49.99%; height:25%;" ></img>
            <video src="" style="position:absolute; display:none; z-index:2; width:49.99%; height:25%;" ></video>
        </div>
        <canvas id="capture" style="position:absolute; left:50vw; z-index:11; width:49.99%; height:25%;"></canvas>

        <div id="menu" style="position:absolute; top:27.5%;">
            <button id="snip">Analyze</button>
            <button id="animate">Record</button>
            <button id="webcam">Use Webcam</button>
            <button id="image">Use Image</button>
            <span style="color:white;">Image:</span><select id="imgselect">
                <option value="src/assets/spectrum_full.png" selected>Full Image</option>
                <option value="src/assets/spectrum1.png">Spectrum 1</option>
                <option value="src/assets/spectrum2.jpg">Spectrum 2</option>
                <option value="src/assets/shrimp.jpg">Shrimp</option>
                <option value="src/assets/chickenfat.png">Chicken Fat</option>
                <option value="src/assets/chickenbreast.png">Chicken Breast</option>
                <option value="src/assets/brownbeerbottle.png">Brown Beer Bottle</option>
            </select>
            <input type="url" id="imgurl" placeholder="Image URL"></input>
            <button id="setImgUrl">Set Image URL</button>
            <input type="url" id="videourl" placeholder="Video URL"></input>
            <button id="setVideoUrl">Set Video URL</button>
            <input type="file" id="fileinput" placeholder="From File"></input>
            <span style="color:white;">Click to draw a rectangle around the portion of the image you want to analyze!</span>
        <hr>
        <div width="45vw" height="60%" id="compare" style="overflow-y:scroll;">
        </div>
        <div width="45vw" height="60%" id="captured" style="overflow-y:scroll;">
        </div>
        <div width="10vw" height="60%"  id="saved" style="overflow-y:scroll;">
        </div>